/* Stylesheet for the body. */
body {
	background-color: #aae1efd1;
	margin: 0;
	font-family: "Roboto", sans-serif;

    text-align: center;
}

/* Stylesheet for h1. */
h1 {
	text-align: center;
	font-family: sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: 1px solid #57b1dc;
	margin-top: 30px;
    color:#0a84bc
}

/*Stylesheet for h2. */
h2 {
	color: #d1633c;
	font-size: 1em;
}

/* Stylesheet for img. */
img {
    width: 40%;

}

/* Stylesheet for title3, . is needed in CSS to select elements by their class name. */
.title3 {
	background-color: #0a84bc;
}

/* Stylesheet for the .food class. This will effect all class="food" in the index.html file */
.food {
	color: #0a84bc;
}

/* Stylesheet for the .gallery_list class which is a <ul> */
.gallery_list {
	display: flex;
	gap: 10px;
	list-style: none;
	padding: 0;
}

/* Stylesheet for .gallery class */
.gallery {
	width: 20%;
}
